RewriteEngine on

RewriteRule ^logout$ /index.php?type=index&action=logout
RewriteRule ^add/$ /index.php?type=point&action=add [L,QSA]


RewriteRule ^(\w+)(?:\/(\w+)(?:\/(\d+))?)?$ /index.php?type=$1&action=$2&id=$3

